.games-list {
  margin-top: 20px;

  &__ul {
    display: grid;

    &.column {
      grid-gap: 24px;
      grid-template-columns: repeat(4, 1fr);
    }

    &.list {
      grid-gap: 24px 0px;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      align-items: center;
    }
  }

  .column {
    flex-direction: row;
  }

  .list {
    flex-direction: column;
    align-items: center;
  }

  &__li {
    width: 100%;
    display: flex;

    &.big {
      max-width: 714px;
    }
  } 
}

@media screen and (max-width: 1440px) {
  .games-list {
    &__ul {
      &.column {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .games-list {
    &__ul {
      &.column {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .page__control-display {
    display: none;
  }
}

  