.contentError {
  width: 100%;
  margin: 20px 0px;
  &Icon {
    background: url('../../../resources/img/icons/errorIcon.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    width: 2em;
    height: 2em;
    display: block;
    margin-right: 8px;
  }

  &Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Text {
    line-height: 1.3;
  }

  &Title {
    font-size: 14px;
  }

  &P {
    font-size: 12px;
  }
}