.select {
  background-color: #1A1D2F;
  color: #f2f2f2;
  border: none;
  padding: 6px;
  font-size: 16px;
  border-radius: 5px;

  option {
    background-color: #f2f2f2;
    color: #333;
  }
  
  select:focus {
    outline: none;
    box-shadow: 0 0 5px #2196F3;
  }

  .optionDefault {
    margin-right: 10px;
  }
}


