.stores-inner {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: hsla(0, 0%, 100%, .5);
}

.stores-button {
  flex-basis: 33%;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  color: hsla(0, 0%, 100%, .5);
  background-color: hsla(0, 0%, 100%, .1);
  background-image: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;

  &:hover {
    background-color: hsla(0, 0%, 100%, .4);
  }

  img {
    display: block;
    max-width: 21px;
    height: 21px;
    width: 100%;
    margin-left: 10px;
  }
}

@media screen and (max-width: 992px) {
  .stores-slider {
    .swiper-slide {
      width: 184px !important;
    }
  }
  .stores-button {
    margin-right: 0;
    width: 184px;
    height: 40px;
    font-size: 14px;
    flex-basis: auto;
  }
}

.swiper-scrollbar {
  height: 3px !important;

  &-drag {
    background: hsla(0,0%,100%,.2);
  }
}
