.stores-inner {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: hsla(0, 0%, 100%, .5);
}

.stores-button {
  flex-basis: 33%;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  color: hsla(0, 0%, 100%, .5);
  background-color: hsla(0, 0%, 100%, .1);
  background-image: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;

  &:hover {
    background-color: hsla(0, 0%, 100%, .4);
  }

  img {
    display: block;
    max-width: 21px;
    height: 21px;
    width: 100%;
    margin-left: 10px;
  }
}