.game-additions__inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 1200px;
}

.game-addition {
  max-width: 290px;
  width: 100%;
  margin-bottom: 10px;
  margin-right: 10px;

  &.no-game {
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__no-game {
    button {
      padding: 15px 56px;
      background-color: hsla(0, 0%, 100%, 0.1);
      color: hsla(0, 0%, 100%, 0.4);
      border-radius: 4px;
      transition: 0.2s ease;
    }
  }
}