.header {
  z-index: 10;
  width: 100%;
  flex-grow: 1;

  &__wrapper {
    padding: 24px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    margin: 0 16px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &__search {
      min-width: 200px;
      width: 100%;
      flex-grow: 2;
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(0deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.4) 0,hsla(0,0%,100%,.4) 1px,hsla(0,0%,100%,0) 0);
    transition: 0.2s ease;

    &--active {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
    }

    &:hover {
      color: hsla(0,0%,100%,.4);
    }
  }

  &__logo {
    font-size: 21px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 5px;
    color: #fff;
    background-image: none;
  }

  &__ul {
    display: flex;
    align-items: center;
  }

  &__li {
    margin-right: 20px;
    

    &:last-child {
      margin-right: 0;
    }
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #fff;
    padding: 5px;
    display: flex;
    flex-direction: column;
    z-index: 1000;

    &__link, a {
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
      color: #fff;
      background-image: linear-gradient(0deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.4) 0,hsla(0,0%,100%,.4) 1px,hsla(0,0%,100%,0) 0);
      transition: 0.2s ease;

      &:hover {
        color: hsla(0,0%,100%,.4);
      }
    }

    &__li {
      padding: 3px 0px;
    }
  }

  .dropdown-trigger {
    border-bottom: none;
    position: relative;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    &__li {
      margin-right: 12px;
    }
  }
}

@media screen and (max-width: 576px) {
  .header {
    &__logo {
      font-size: 18px;
    }
    &__wrapper {
      padding: 24px 10px;
      flex-grow: 0;
    }

    &__item {
      margin: 0px 10px;

      &__search {
        min-width: 0px;
      }
    }
  }

  .search {
    &-input {
      height: 28px;
      border-radius: 16px;
      font-size: 14px;
      
    }
  }
}

