.label-metacritic {
  padding: 5px;
  border-radius: 100%;
  font-weight: 500;
  font-size: 16px;
  margin-left: 5px;
}

.label-rating {
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  margin-left: 5px;
}

.greenRating {
  border: 1px solid #00CC00;
}
.orangeRating {
  border: 1px solid #FFA500;
}
.redRating {
  border: 1px solid #ff3300;
}

.rating-none {
  color: hsla(0, 0%, 100%, 0.4);
}